.map {
  height: 400px;
  width: 100%;
  min-width: 400px;
  margin-top: 20px;
  background-color: gray;
}

.beerSpecsContainer {
  padding: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}